div{
    width:400px;
    height:500px;
    background-color: #7B4019;

    padding: 10px;
    border-radius: 10px;
}

img{
    width:400px;
    height:300px;
    border-radius: 10px;
}

h1{
    color: aquamarine;
}

p{
    color: bisque;
}

button{
    width:100px;
}